.inline {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}

.receipt {
  color: var(--green);
}

.expense {
  color: var(--red);
}

.balance {
  color: var(--blue);
}

.card {
  color: var(--olive);
}

.field {
  margin-top: 0.7rem;
  border: 0.1rem solid #434343;
  border-radius: 1.2rem;
  padding: 0.4rem 1rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  box-shadow: 0 0.2rem 0.6rem rgba(0, 0, 0, 0.05);
}

.field:hover {
  filter: brightness(50%);
}

.title {
  font-size: large;
  font-weight: 700;
  color: #495057;
}

.currency {
  font-size: medium;
  font-weight: 900;
}
