.gridContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.4rem;
  width: 100%;
}

.inline {
  display: inline-flex;
  gap: 0.4rem;
  align-items: center;
}

.charts {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

/* Computador abaixo */
@media (min-width: 1024px) {
  .gridContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    justify-content: center;
  }

  .charts {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
}
