.inline {
  display: inline-flex;
  align-items: center;
  gap: 0.7rem;
}

.balanceStatus {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100vw;
  margin-top: 1.5rem;
}

.arrowDiv {
  height: 4rem;
  width: 4rem;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.red {
  background-color: rgb(175, 45, 45);
}

.green {
  background-color: rgb(45, 175, 45);
}

section {
  display: flex;
  gap: 1rem;
  align-items: center;
}
